@use 'variaveis';

.card2 {
    padding: 4em 4em 1em 4em;
    background-color:rgb(249, 242, 232); 

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 5em;
        margin: 50px auto;
        padding: 20px;

        img {
            display: flex;
            filter: brightness(0.8);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            max-width: 500px;
            height: 500px;
        }
    }

    &__content {
        width: 100%;
        padding: 1em 2em;


        &--title {
            display: flex;
            color: variaveis.$corTextoSecundario;
            padding: 1em 0;
            font-size: 2em;
            text-align: left;
        }

        p {
            display: flex;
            color: variaveis.$corTextoSecundario;
            padding: 1em 0;
            font-size: 1.2em;
            letter-spacing: 1px;
            justify-content: center;
            text-align: justify;
            line-height: 2em;
        }        
        a {
            background-color: variaveis.$corFundoHeader;
            display: inline;
            width: 100%;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            padding: 10px 20px; 
            border-radius: 4px;
            color: variaveis.$corTextoSecundario;
            text-decoration: none;
            text-align: center;

        }
        a:hover {
            background-color: rgb(141, 202, 140);
            color: #000; 
            cursor: pointer;
            transition: background-color 0.1s ease;
        }
    }
}