@use 'variaveis';

.card2 {
    padding: 4em 4em 1em 4em;
    background-color:rgb(249, 242, 232); 

    &__container {
        display: flex;
        align-items: flex-end;
        gap: 5em;
        margin: 50px auto;
        padding: 20px;

        img {
            display: flex;
            filter: brightness(0.8);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            max-width: 500px;
            height: 500px;
            border-radius: 12px;
        }
    }

    &__content {
        width: 100%;
        background-color: rgba(213, 255, 241, 0.793);
        padding: 3em 2em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        border-radius: 14px;


        &--title {
            display: block;
            color: variaveis.$corTextoSecundario;
            padding: 0 .5em;
            font-size: 2em;
            text-align: left;
        }

        p {
            display: flex;
            color: variaveis.$corTextoSecundario;
            padding: 1em 1em;
            font-size: 1.2em;
            letter-spacing: 1px;
            justify-content: center;
            text-align:justify;
            line-height: 2em;
        }
    }
    
}